body {
    background-color: #121212;
    font-family: 'PT Sans', sans-serif;
  }

.custom-nav {
  background-color: #121212;
}

.title-card {
  background: linear-gradient(0deg, rgba(50,50,50,1) 0%, rgba(18,18,18,1) 100%);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border: none!important;
}

.live-text {
  font-size: 18px;
}

.team-one-info {
  display: flex;
  justify-content: flex-start;
}

.team-two-info {
  display: flex;
  justify-content: flex-end;
}

.team-image {
  border-radius: 8px;
}

.team-over {
  font-size: 12px;
  color: rgb(219, 208, 255);
}

.team-score {
  justify-content: space-between;
  align-items: center;
}

.result {
  font-size: 14px;
  text-align: center;
}

.latest-match {
  font-size: 18px;
  color: #fff;
}

.latest-card {
  background-color: #1b1b1b!important;
  border-radius: 20px;
  border: none!important;
}