body {
    background-color: #121212;
    font-family: 'PT Sans', sans-serif;
  }

.custom-nav {
  background-color: #121212;
}

.title-card {
  background: linear-gradient(0deg, rgba(50,50,50,1) 0%, rgba(18,18,18,1) 100%);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border: none!important;
}

.live-text {
  font-size: 18px;
}

.team-one-info {
  display: flex;
  justify-content: flex-start;
}

.team-two-info {
  display: flex;
  justify-content: flex-end;
}

.team-image {
  border-radius: 4px;
}

.team-over {
  font-size: 12px;
  color: rgb(219, 208, 255);
}

.team-score {
  justify-content: space-between;
  align-items: center;
}

.result {
  font-size: 14px;
  text-align: center;
}

.latest-match {
  font-size: 18px;
  color: #fff;
}

.latest-card {
  background-color: #1C1C1C!important;
  border-radius: 20px;
  border: none!important;
}

.ranking-card {
  background-color: #1C1C1C!important;
  border: none!important;
  border-radius: 20px!important;
  transition: .25s;
}

.collapse-ranking-card {
  background-color: #1C1C1C!important;
  border: none!important;
  border-bottom-left-radius: 20px!important;
  border-bottom-right-radius: 20px!important;
}

.initial-ranking-card {
  background-color: #1C1C1C!important;
  border: none!important;
  border-top-left-radius: 20px!important;
  border-top-right-radius: 20px!important;
}

.ranking-list {
  background-color: #0041e400!important;
  color: aliceblue;
}

.series-name {
  font-size: 14px;
}

.start-time {
  font-size: 14px;
  text-align: center;
}

.team-display {
  display: flex;
}

@media (max-width: 767px) {
  .team-display::-webkit-scrollbar {
    display: none;
  }
}




/* Ranking CSS Start */

.taeb-switch {
  position: relative;
}

.taeb-switch:after {
  content: "";
  position: absolute;
  width: calc(100% / 3);
  top: 0;
  transition: left cubic-bezier(.88, -.35, .565, 1.35) .4s;
  border-radius: 27.5px;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .1);
  background-color: rgb(0, 100, 255);
  height: 100%;
  z-index: 0;
}

.taeb-switch.left:after {
  left: 0;
}

.taeb-switch.middle:after {
  left: calc(100% / 3);
}

.taeb-switch.right:after {
  left: calc(100% / 3 * 2);
}

.taeb-switch .taeb {
  display: inline-block;
  width: calc(100% / 3);
  padding: 8px 0;
  z-index: 1;
  position: relative;
  cursor: pointer;
  transition: color 200ms;
  font-size: 16px;
  font-weight: bold;
  line-height: normal;
  user-select: none;
}

.taeb-switch .taeb.active {
  color: #ffffff;
}

.wrapper {
  border-radius: 37px;
  background-color: #ffffff;
  padding: 8px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.tab-content {
  display: none;
  padding: 12px;
  background-color: #f30d0d;
  border-radius: 8px;
}

/* Ranking CSS End */


.scrolling-team {
  background-color: #1C1C1C!important;
  border: none!important;
  width: 128px;
  display: inline-block;
  background-color: #ddd;
  margin-right: 10px;
}

.overflow-indicator {
  overflow-x: scroll;
  white-space: nowrap;
}

@media (max-width: 600px) {
  .overflow-indicator {
    overflow-x: scroll;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .overflow-indicator::-webkit-scrollbar {
    display: none;
  }
}

.btn-outline-info {
  color: #0dcaf0!important;
  border-color: #0dcaf0!important;
}